$yellow:#F9F08D;
$orange: #FEBD7D;
$green: #BBDCAD;
$blue: #A6C7EA;
$pink: #F9B2BC;
$plum: #dda0dd;

$yellowDark: #f9ed67;
$greenDark: #97db7a;
$blueDark: #81b3e9;
$pinkDark:#f38b99;
$orangeDark:#faa957;
$plumDark: #db7adb;

$darkGray:rgb(45, 74, 94);
$grayMedium:rgb(168, 180, 184);
$dark:rgb(25, 25, 25);
$darkLight:rgb(45, 45, 45);
$white:#f8f8f8;
$lightGray:#d6d6d6;
$light:#f3f1f1;
$mint: #5ee6ad;

$font-color:rgb(44, 42, 42);
$font-primary: 'Josefin Sans', sans-serif;
$default-font-size: 1.6rem;

$red:#ec4d4d;
$greenBtn: #5abd71;
$blueBtn:#1b7adf;


$max-width: 2000px;

// breakpoints
$mobileL: 500px;
$tablet:768px;
$laptop: 1024px;
$extraLarge: 2500px;